.color-primary-0 {
  color: #009489 !important;
}

/* Main Primary color */

.color-primary-1 {
  color: #3EB2AA !important;
}

.color-primary-2 {
  color: #1CA59B !important;
}

.color-primary-3 {
  color: #00766D !important;
}

.color-primary-4 {
  color: #005C55 !important;
}

.color-secondary-1-0 {
  color: #DC0037 !important;
}

/* Main Secondary color (1) */

.color-secondary-1-1 {
  color: #EE5279 !important;
}

.color-secondary-1-2 {
  color: #EA2758 !important;
}

.color-secondary-1-3 {
  color: #AF002C !important;
}

.color-secondary-1-4 {
  color: #890022 !important;
}

.color-secondary-2-0 {
  color: #54D400 !important;
}

/* Main Secondary color (2) */

.color-secondary-2-1 {
  color: #8BE750 !important;
}

.color-secondary-2-2 {
  color: #70E326 !important;
}

.color-secondary-2-3 {
  color: #42A900 !important;
}

.color-secondary-2-4 {
  color: #348400 !important;
}

.color-complement-0 {
  color: #F16900 !important;
}

/* Main Complement color */

.color-complement-1 {
  color: #FFA158 !important;
}

.color-complement-2 {
  color: #FF872B !important;
}

.color-complement-3 {
  color: #C05300 !important;
}

.color-complement-4 {
  color: #964100 !important;
}

.bg-color-primary-0 {
  background-color: #009489 !important;
}

/* Main Primary color */

.bg-color-primary-1 {
  background-color: #3EB2AA !important;
}

.bg-color-primary-2 {
  background-color: #1CA59B !important;
}

.bg-color-primary-3 {
  background-color: #00766D !important;
}

.bg-color-primary-4 {
  background-color: #005C55 !important;
}

.bg-color-secondary-1-0 {
  background-color: #DC0037 !important;
}

/* Main Secondary color (1) */

.bg-color-secondary-1-1 {
  background-color: #EE5279 !important;
}

.bg-color-secondary-1-2 {
  background-color: #EA2758 !important;
}

.bg-color-secondary-1-3 {
  background-color: #AF002C !important;
}

.bg-color-secondary-1-4 {
  background-color: #890022 !important;
}

.bg-color-secondary-2-0 {
  background-color: #54D400 !important;
}

/* Main Secondary color (2) */

.bg-color-secondary-2-1 {
  background-color: #8BE750 !important;
}

.bg-color-secondary-2-2 {
  background-color: #70E326 !important;
}

.bg-color-secondary-2-3 {
  background-color: #42A900 !important;
}

.bg-color-secondary-2-4 {
  background-color: #348400 !important;
}

.bg-color-complement-0 {
  background-color: #F16900 !important;
}

/* Main Complement color */

.bg-color-complement-1 {
  background-color: #FFA158 !important;
}

.bg-color-complement-2 {
  background-color: #FF872B !important;
}

.bg-color-complement-3 {
  background-color: #C05300 !important;
}

.bg-color-complement-4 {
  background-color: #964100 !important;
}

.bg-color-white,
.white {
  background-color: #fff;
}

.text-white {
  color: #fff !important;
}

.bg-color-black,
.black {
  background-color: #111111;
}

.text-black {
  color: #111111 !important;
}

.color-primary-0 {
  color: #009489 !important;
}

/* Main Primary color */

.color-primary-1 {
  color: #3EB2AA !important;
}

.color-primary-2 {
  color: #1CA59B !important;
}

.color-primary-3 {
  color: #00766D !important;
}

.color-primary-4 {
  color: #005C55 !important;
}

.color-secondary-1-0 {
  color: #DC0037 !important;
}

/* Main Secondary color (1) */

.color-secondary-1-1 {
  color: #EE5279 !important;
}

.color-secondary-1-2 {
  color: #EA2758 !important;
}

.color-secondary-1-3 {
  color: #AF002C !important;
}

.color-secondary-1-4 {
  color: #890022 !important;
}

.color-secondary-2-0 {
  color: #54D400 !important;
}

/* Main Secondary color (2) */

.color-secondary-2-1 {
  color: #8BE750 !important;
}

.color-secondary-2-2 {
  color: #70E326 !important;
}

.color-secondary-2-3 {
  color: #42A900 !important;
}

.color-secondary-2-4 {
  color: #348400 !important;
}

.color-complement-0 {
  color: #F16900 !important;
}

/* Main Complement color */

.color-complement-1 {
  color: #FFA158 !important;
}

.color-complement-2 {
  color: #FF872B !important;
}

.color-complement-3 {
  color: #C05300 !important;
}

.color-complement-4 {
  color: #964100 !important;
}

.bg-color-primary-0 {
  background-color: #009489 !important;
}

/* Main Primary color */

.bg-color-primary-1 {
  background-color: #3EB2AA !important;
}

.bg-color-primary-2 {
  background-color: #1CA59B !important;
}

.bg-color-primary-3 {
  background-color: #00766D !important;
}

.bg-color-primary-4 {
  background-color: #005C55 !important;
}

.bg-color-secondary-1-0 {
  background-color: #DC0037 !important;
}

/* Main Secondary color (1) */

.bg-color-secondary-1-1 {
  background-color: #EE5279 !important;
}

.bg-color-secondary-1-2 {
  background-color: #EA2758 !important;
}

.bg-color-secondary-1-3 {
  background-color: #AF002C !important;
}

.bg-color-secondary-1-4 {
  background-color: #890022 !important;
}

.bg-color-secondary-2-0 {
  background-color: #54D400 !important;
}

/* Main Secondary color (2) */

.bg-color-secondary-2-1 {
  background-color: #8BE750 !important;
}

.bg-color-secondary-2-2 {
  background-color: #70E326 !important;
}

.bg-color-secondary-2-3 {
  background-color: #42A900 !important;
}

.bg-color-secondary-2-4 {
  background-color: #348400 !important;
}

.bg-color-complement-0 {
  background-color: #F16900 !important;
}

/* Main Complement color */

.bg-color-complement-1 {
  background-color: #FFA158 !important;
}

.bg-color-complement-2 {
  background-color: #FF872B !important;
}

.bg-color-complement-3 {
  background-color: #C05300 !important;
}

.bg-color-complement-4 {
  background-color: #964100 !important;
}

.bg-color-white,
.white {
  background-color: #fff;
}

.text-white {
  color: #fff !important;
}

.bg-color-black,
.black {
  background-color: #111111;
}

.text-black {
  color: #111111 !important;
}

.cta {
  padding: 0.85rem 1.7rem;
  line-height: 0.85rem;
  font-size: 0.85rem;
  height: 2.55rem;
  border-radius: 1.7rem;
  display: inline-block;
  width: auto;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  -webkit-transition: background-color 0.3s, color 0.3s;
  /* Safari */
  transition: background-color 0.3s, color 0.3s;
}

.cta-large {
  padding: 1rem 2rem;
  line-height: 1rem;
  font-size: 1rem;
  height: 3rem;
  border-radius: 2rem;
}

.cta-small {
  padding: 0.75rem 1.5rem;
  line-height: 0.75rem;
  font-size: 0.8rem;
  height: 2.25rem;
  border-radius: 1.5rem;
  font-weight: 400;
}

.cta-tertiary {
  padding-left: 0;
  padding-right: 0;
}

.cta:hover {
  text-decoration: none;
}

.cta-primary {
  background-color: #DC0037 !important;
  color: #fff !important;
}

.cta-primary:hover {
  background-color: #EA2758 !important;
  color: #e9e8e8 !important;
}

.cta-secondary {
  background-color: #fff !important;
  color: #DC0037 !important;
  border: 1px solid #DC0037 !important;
}

.cta-secondary:hover {
  background-color: #EA2758 !important;
  color: #fff !important;
}

.cta-tertiary {
  text-decoration: underline;
}

/*@font-face {
    font-family: NHG-Bold;
    src: url(/fonts/NHaasGroteskTXPro-75Bd.ttf);
}
@font-face {
    font-family: NHG-Medium;
    src: url(/fonts/NHaasGroteskTXPro-65Md.ttf);
}
@font-face {
    font-family: NHG-Regular;
    src: url(/fonts/NHaasGroteskTXPro-55Rg.ttf);
}

h1,h2,h3,h4,h5,h6, .navbar-brand {
	font-family: 'NHG-Bold', sans-serif;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
}*/

[v-cloak] {
  display: none;
}

.multiselect__option.multiselect__option--highlight {
  background-color: #3EB2AA;
}

body {
  color: #222;
}

.button-div {
  height: 40px;
  border-radius: 20px;
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
  -moz-appearance: textfield !important;
}

.navbar-nav.nav-inline {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-brand img {
  margin-right: 1rem;
}

.navbar-brand span {
  font-weight: 700;
}

a {
  color: #005C55;
}

a:hover {
  text-decoration: none !important;
}

hr {
  height: 1px;
  width: 100%;
}

.no-underline {
  text-decoration: none !important;
}

.navbar {
  min-height: 6rem;
  background-color: white;
}

.hover-white,
.hover,
.transition {
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
}

.hover-white *,
.hover *,
.transition * {
  -webkit-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}

.hover-white:hover {
  background: white !important;
}

.hover-white:hover * {
  color: #009489 !important;
}

.hover:hover {
  background: #009489;
}

.hover.bordered {
  border: 0.5px solid #009489;
}

.hover:hover * {
  color: white !important;
}

.navbar {
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.navbar ul {
  margin-left: 0px;
}

.navbar ul .nav-item {
  margin-left: 20px;
}

.nav-link {
  color: #009489 !important;
}

.active .nav-link {
  font-weight: 600 !important;
}

.top-rounded {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.section {
  padding: 15px 1rem;
  border-top: 10px solid #009489;
  -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
}

.shadow {
  -webkit-box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12), 0 5px 15px rgba(0, 0, 0, 0.06);
  box-shadow: 0 15px 35px 0 rgba(42, 51, 83, 0.12), 0 5px 15px rgba(0, 0, 0, 0.06);
}

.tag {
  height: 30px;
  border-radius: 15px;
  padding: 0 15px;
  background-color: #f5f5f7;
  line-height: 30px;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.6rem;
}

.case-card {
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.case-solved {
  opacity: 0.5;
}

.transition:hover {
  background-color: #005C55 !important;
}

.svg-inline--fa {
  padding-top: 2px;
}

.chat-message {
  position: relative;
  margin-bottom: 1rem;
  border-bottom-right-radius: 15px;
}

.chat-message:last-child {
  margin-bottom: 2rem;
}

.chat-message.left {
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  -webkit-box-shadow: 0 13px 30px rgba(50, 50, 93, 0.08), 0 2px 10px rgba(0, 0, 0, 0.05);
  box-shadow: 0 13px 30px rgba(50, 50, 93, 0.08), 0 2px 10px rgba(0, 0, 0, 0.05);
}

.chat-message.right {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #005C55;
  color: white;
  -webkit-box-shadow: 0 13px 30px rgba(50, 50, 93, 0.15), 0 2px 10px rgba(0, 0, 0, 0.09);
  box-shadow: 0 13px 30px rgba(50, 50, 93, 0.15), 0 2px 10px rgba(0, 0, 0, 0.09);
}

.chat-message:after {
  content: '';
  position: absolute;
  top: 0;
  border: 30px solid transparent;
  border-bottom: 0;
  margin-top: 0px;
}

.chat-message.right:after {
  right: 0;
  border-right: 20px solid transparent;
  border-left: 0;
  margin-right: -19px;
  border-top-color: #005C55;
}

.chat-message.left:after {
  left: 0;
  border-left: 20px solid transparent;
  border-right: 0;
  margin-left: -19px;
  border-top-color: #fff;
}

.chat-message a {
  color: #1CA59B !important;
}

.chat-time {
  font-size: 0.7rem;
  display: block;
  margin-top: 5px;
  opacity: 0.6;
}

.chat-message.left .chat-time {
  text-align: left;
}

.chat-message.right .chat-time {
  text-align: right;
}

.message-form {
  border-top: 5px white solid;
}

@media (min-width: 576px) {
  .row.vdivide [class*='col-']:not(:last-child):after {
    background: rgba(0, 0, 0, 0.2);
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .section {
    padding: 15px 1rem;
  }

  .statistic * {
    text-align: center;
    display: block;
  }

  .students-table {
    width: 90%;
  }

  .chat-message {
    max-width: 80%;
  }
}

@media (min-width: 768px) {
  .section {
    padding: 15px 3rem;
  }

  .chat-message {
    max-width: 75%;
  }
}

@media (min-width: 991px) {
  .students-table {
    width: auto;
  }

  .chat-message {
    max-width: 60%;
  }
}

.section > h3 {
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.statistic-value {
  font-size: 3rem;
  line-height: 3rem;
}

.statistic-name {
  font-weight: 500;
}

.students-table td {
  padding: 3px 30px;
}

.students-table th {
  padding: 0px 30px;
}

.pagination {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search-form {
  width: 100%;
}

.search-form button {
  padding: 0px 30px;
  height: 40px;
  border-radius: 20px;
  line-height: 30px;
  vertical-align: middle;
}

.search-input input {
  height: 40px;
}

.search-input input:first-of-type {
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
}

.search-input input:last-of-type {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
}

.search-input input:not(:last-child) {
  margin-right: 1rem;
}

.search-settings span input {
  width: 60px !important;
}

.vdp-datepicker input {
  border: none;
  width: 100%;
  height: 100%;
}

