@import "colors_lightblue";

%back-gradient {
	background: $color-one;
	background: -moz-linear-gradient(-45deg, $color-one 0%, $color-two 100%);
	background: -webkit-linear-gradient(-45deg, $color-one 0%, $color-two 100%);
	background: linear-gradient(135deg, $color-one 0%, $color-two 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-one', endColorstr='$color-two',GradientType=1 );
}

%back-gradient * {
	color: $color-secondary;
}

%back-borders {
	-webkit-box-shadow: 12px 12px 0px 0px $color-secondary;
	-moz-box-shadow: 12px 12px 0px 0px $color-secondary;
	box-shadow: 12px 12px 0px 0px $color-secondary;
}

%underlined {
    display: inline-block;
    border-bottom: 8px solid $color-secondary;
}

.back-gradient {
	@extend %back-gradient;
}

.back-borders {
	@extend %back-borders;
}

.back-borders-small {
	-webkit-box-shadow: 7px 7px 0px 0px $color-secondary;
	-moz-box-shadow: 7px 7px 0px 0px $color-secondary;
	box-shadow: 7px 7px 0px 0px $color-secondary;
}

.back-borders-one {
	-webkit-box-shadow: 7px 7px 0px 0px $color-one;
	-moz-box-shadow: 7px 7px 0px 0px $color-one;
	box-shadow: 7px 7px 0px 0px $color-one;
}

.back-borders-two {
	-webkit-box-shadow: 7px 7px 0px 0px $color-two;
	-moz-box-shadow: 7px 7px 0px 0px $color-two;
	box-shadow: 7px 7px 0px 0px $color-two;
}

.underlined {
	@extend %underlined;
}