@import "colors";
@import "~bootstrap/scss/functions"; 
@import "~bootstrap/scss/variables";

@mixin min-width($breakpoint) { 
    @media (min-width: $breakpoint) {
      @content;
    }
}

@mixin max-width($breakpoint) { 
    @media (max-width: $breakpoint) {
      @content;
    }
}

#app-content {
	min-height: 100vh;
}

form label {
	font-weight: 500;
}

form input {
	border-radius: 0 !important;
}

.nav-item {
	white-space: nowrap;
	display: flex;
}

.nav-item * {
    margin: auto; /* Important */
}

.nav-item:not(:last-child) {
	margin-right: 20px;
}

.nounderline {
	text-decoration: none !important;
}

.navbar-nav {

	display: flex;
	@include max-width(map-get($grid-breakpoints, lg)) {
		 display: block;
	}
}

.dropdown-toggle::after {
	position: absolute;
	right: -10px;
	top: 50%;
	display: inline-block !important;
}

.cta {
	line-height: initial;
	padding: 0.6rem 1.2rem !important;
	display: inline-block;
	font-size: 0.85rem;
	width: auto;
	font-weight: 700;
	cursor: pointer;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
    -webkit-transition: background-color 0.3s, color 0.3s; /* Safari */
    transition: background-color 0.3s, color 0.3s;

	@include min-width(map-get($grid-breakpoints, lg)) {
		 display: inline-block;
	}
}

.cta * {
	margin: auto;
}

.cta-large {
	padding: 1rem 2rem;
	line-height: 1rem;
	font-size: 1rem;
	height: 3rem;
}

.cta-small {
	padding: 0.75rem 1.5rem;
	line-height: 0.75rem;
	font-size: 0.8rem;
	height: 2.25rem;
	font-weight: 400;
}

.cta-rounded {
	padding: 0.75 0;
}

.cta-form-group {
	padding: 0.75rem 1.5rem;
	line-height: 0.75rem;
	font-size: 0.8rem;

	height: calc(2.25rem + 2px);
	font-weight: 400;
}

.cta-tertiary {
	padding-left: 0;
	padding-right: 0;
}

.cta:hover {
	text-decoration: none;
}

.cta-primary {
	background-color: $color-contrast !important;
	color: $color-secondary !important;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta-primary:hover {
	box-shadow: rgba(34, 50, 84, 0.22) 0px 4px 12px;
	transform: scale(1.03);
}

.nav-link {
	color: $color-secondary !important;
}

.font-weight-medium {
	font-weight: 500 !important;
}

// .cta-primary:hover {
// 	background-color: $color-secondary-1-2 !important;
// 	color: $color-white-darker !important;
// }

// .cta-secondary, .secondary-color {
// 	background-color: $color-white !important;
// 	color: $color-secondary-1-0 !important;
// }

// .cta-secondary {
// 	border: 1px solid $color-secondary-1-0 !important;
// }

// .cta-secondary:hover, .secondary-color:hover {
// 	background-color: $color-secondary-1-2 !important;
// 	color: $color-white !important;
// }

// .cta-tertiary {
// 	text-decoration: underline;
// }

.opacity-hover {
	opacity: 0.2;
}

.opacity-hover:hover {
	opacity: 1;
}

.pointer {
	cursor: pointer;
}

.nr-l, .nr-t {
	border-top-left-radius: 0 !important;
}

.nr-r, .nr-t {
	border-top-right-radius: 0 !important;
}

.nr-l, .nr-b {
	border-bottom-left-radius: 0 !important;
}

.nr-r, .nr-b {
	border-bottom-right-radius: 0 !important;
}