@import "colors_1";

.cta {
	padding: 0.85rem 1.7rem;
	line-height: 0.85rem;
	font-size: 0.85rem;
	height: 2.55rem;
	border-radius: 1.7rem;
	display: inline-block;
	width: auto;
	font-weight: 700;
	cursor: pointer;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
    -webkit-transition: background-color 0.3s, color 0.3s; /* Safari */
    transition: background-color 0.3s, color 0.3s;
	border-radius: 2rem;
}

.cta-large {
	padding: 1rem 2rem;
	line-height: 1rem;
	font-size: 1rem;
	height: 3rem;
}

.cta-small {
	padding: 0.75rem 1.5rem;
	line-height: 0.75rem;
	font-size: 0.8rem;
	height: 2.25rem;
	font-weight: 400;
}

.cta-form-group {
	padding: 0.75rem 1.5rem;
	line-height: 0.75rem;
	font-size: 0.8rem;

	height: calc(2.25rem + 2px);
	font-weight: 400;
}

.cta-tertiary {
	padding-left: 0;
	padding-right: 0;
}

.cta:hover {
	text-decoration: none;
}

.cta-primary {
	background-color: $color-secondary-1-0 !important;
	color: $color-white !important;
}

.cta-primary:hover {
	background-color: $color-secondary-1-2 !important;
	color: $color-white-darker !important;
}

.cta-secondary, .secondary-color {
	background-color: $color-white !important;
	color: $color-secondary-1-0 !important;
}

.cta-secondary {
	border: 1px solid $color-secondary-1-0 !important;
}

.cta-secondary:hover, .secondary-color:hover {
	background-color: $color-secondary-1-2 !important;
	color: $color-white !important;
}

.cta-tertiary {
	text-decoration: underline;
}

.opacity-hover {
	opacity: 0.2;
}

.opacity-hover:hover {
	opacity: 1;
}

.pointer {
	cursor: pointer;
}

.nr-l, .nr-t {
	border-top-left-radius: 0 !important;
}

.nr-r, .nr-t {
	border-top-right-radius: 0 !important;
}

.nr-l, .nr-b {
	border-bottom-left-radius: 0 !important;
}

.nr-r, .nr-b {
	border-bottom-right-radius: 0 !important;
}