
@import "~bootstrap/scss/functions"; 
@import "~bootstrap/scss/variables";

/* increase container width for the wider lg and xl breakpoints */
// $container-max-widths: (
//   lg: 1200px,
//   xl: 1600px
// );


@import "~bootstrap/scss/bootstrap";
@import "components";

body, html {
	height: 100%;
	font-size: 20px;
	line-height: 44px;
	color: $color-primary-4;
}

.nav-item, .nav-link {
    font-weight: 700;
}

#nav-links {
    display: inline-block;
    text-transform: uppercase;
	white-space: nowrap;
}

#nav-links li {
	display: inline-block;
}

h1, h2, h3, h4, h5, h6 {
	color: $color-primary-0;
    font-weight: 700;
}

section > div a {
	font-size: 20px;
	line-height: 44px;
}

#first-section {
	background: url('/img/upper_background.svg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: none;
	padding: 0;
	margin: 0;
	z-index: 1;
}

#vision {
	padding: 0;
	margin: 0;
	overflow: hidden;
	position: relative;
	border: none;
	z-index: 9999;
}

#vision .container .row {
	background: url('/img/vision_line.svg') no-repeat center center;
	background-size: contain;
}

#vision>img {
	border-top: 1px solid #11705D;
	position: absolute;
	top: 0px;
	width: calc(100% + 10px);
	margin-left: -5px;
}

#timeline .wrapper {
	padding: 0;
	margin: 0;
	background-color: $color-primary-0;
}

#timeline-top, #timeline-bottom {
	margin: 0;
	padding: 0;
	width: 100%;
}

#timeline-top {	
	margin-bottom: -0.5px;
	display: block;
}

#timeline-bottom {	
	margin-top: -0.5px;
	display: block;
    transform: rotate(180deg);
}

.timeline-div * {
	color: white;
}

$timeline-circle-size: 24px;
$timeline-circle-top: 6px;
$timeline-border-width: 4px;

.timeline-div {
	border-left: $timeline-border-width solid $color-white;
	padding-left: 40px;
	margin: 0;
	position: relative;
	min-height: 150px;
}

.timeline-div:before {
	content: '';
	background-color: $color-white;
	width: $timeline-circle-size;
	height: $timeline-circle-size;
	display: block;
	position: absolute;
	left: -($timeline-circle-size + $timeline-border-width)/2;
	top: $timeline-circle-top;
	border-radius: $timeline-circle-size/2;
	border: 4px solid $color-secondary-2-0;
}

.timeline-last {
	-webkit-border-image: -webkit-gradient(linear, 0 0, 0 100%, from($color-secondary-2-0), to($color-white)) 40 100%;
	-webkit-border-image: -webkit-linear-gradient($color-secondary-2-0, $color-secondary-2-0 40%, $color-white) 40 100%;
	-moz-border-image: -moz-linear-gradient($color-secondary-2-0, $color-secondary-2-0 40%, $color-white) 1 100%;
	-o-border-image: -o-linear-gradient($color-secondary-2-0, $color-secondary-2-0 40%, $color-white) 1 100%;
	border-image: linear-gradient(to bottom, $color-secondary-2-0, $color-secondary-2-0 40%, $color-white) 0 100%;
}

@media (min-width: 992px) {

	.fixed-lg-top {
		z-index: 99;
		position: fixed;
		right: 0;
		left: 0;
	}

	.timeline-wrapper {
		overflow-x: auto;
		white-space: nowrap;
		flex-wrap: nowrap;
	}

	.timeline-div {
		padding-top: 10px;
		border-top: $timeline-border-width solid $color-white;
		border-left: none;
	}

	.timeline-div:before {
		left: -($timeline-circle-size - $timeline-border-width) / 2 + 16;
		top: -15px;
	}

	.timeline-last {
		border-image: none;
  		border-color: $color-secondary-2-0;
	}
}

.timeline-past {
	border-color: $color-secondary-2-0;
}

.timeline-quarter {
	color: $color-secondary-2-0;
	display: inline;
}

.timeline-year {
	margin-left: 5px;
	display: inline;
}










#contact a {
	color: $color-primary-4;
}

.nav-item:not(:last-of-type) {
	margin-right: 40px;
}

.landing-section.full {
	min-height: 100%;
}

.margin {
	margin-top: 260px;
}

.brand {
	padding-top: 80px;
	margin-bottom: 100px;
}

.brand img {
	height: 60px;
}

.avatar {
	padding-top: 50px;
}

.avatar-name {
	margin-top: 20px;
}

.avatar-title {
	font-style: italic;
	font-weight: 300;
	font-size: 0.8rem;
}

.avatar img {
	height: 80px;
}

.advantage:first-of-type {
	margin-top: 7rem;
}

.advantage:not(:first-of-type) {
	margin-top: 13rem;
}

.advantage div {
	text-align: center;
}

.advantage .heading {
	margin-bottom: 2rem;
}

.advantage-img {
	max-height: 100%;
	max-width: 400px;
}

.signup-form {
	padding: 2rem;
	-webkit-box-shadow: 0px 3px 78px -22px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px 3px 78px -22px rgba(0,0,0,0.49);
	box-shadow: 0px 3px 78px -22px rgba(0,0,0,0.49);
}

.signup-form .form-group {
	margin-bottom: 1.5rem !important;
}

.promo-question {
	font-weight: 700;
	color: $color-primary-0;
	margin-bottom: 2rem;
	font-size: 58px;
}

@media (min-width: 576px) {
	.brand {
		padding-top: 120px;
	}

	.brand img {
		height: 80px;
	}

	.advantage:nth-of-type(even) .img-div {
		text-align: left;
	}

	.advantage:nth-of-type(odd) .img-div {
		text-align: right;
	}

	.advantage:nth-of-type(even) .text-div {
		text-align: right;
		padding-left: 20px;
	}

	.advantage:nth-of-type(odd) .text-div {
		text-align: left;
		padding-right: 20px;
	}
}

@media (min-width: 768px) {
	.brand {
		padding-top: 150px;
	}

	.brand img {
		height: 90px;
	}

	.advantage:nth-of-type(even) .text-div {
		padding-left: 60px;
	}

	.advantage:nth-of-type(odd) .text-div {
		padding-right: 60px;
	}
}

@media (min-width: 960px) {
	.brand {
		padding-top: 180px;
	}

	.advantage:nth-of-type(even) .text-div {
		padding-left: 80px;
	}

	.advantage:nth-of-type(odd) .text-div {
		padding-right: 80px;
	}
}